.header {
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;

  height: 80px;
  line-height: 80px;

  padding: 0 20px;
}

.spaced {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.menu {
  background-color: unset !important;

  &.dark {
    border-bottom-color: #656565;
    color: #d7d7d7;
  }
}
