.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;

  height: 100%;

  > header {
    flex-shrink: 0;
  }

  > main {
    flex-grow: 1;
  }
}
