.layout {
  min-height: 100%;

  &.dark {}
}

.sider {
  background-color: #e0eaff;
  position: fixed;
  height: 100vh;
  left: 0;
  z-index: 2;

  &.dark {
    background-color: #000222;
  }
}

.content {
  &.dark {
    background-color: #333;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  flex-grow: 0;

  &.dark {
    background-color: #121226;
  }
}

.main {
  background-color: white;
  padding: 24px 16px;

  &.dark {
    background-color: #333;
  }
}
